body {
  background: url('background.png'); 
  background-size: cover; /* Scales the image to cover the entire area */
}

h2 {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  color: #f1e469;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 20px;
}

.container {
    border: solid 2px;
    border-color: chartreuse;
    border-radius: 50px;
    background: linear-gradient(190deg, #28a745, #6f42c1);
    margin: 40px;

}

.sidebyside {
  display: flex;
}

.carousel-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  border: 5px solid #0f301a;
  position: relative;
  background: linear-gradient(190deg, #28a745, #6f42c1);
}

.carousel-slide {
  display: flex;
  width: calc(600px * 6); /* Width should accommodate all images twice for looping */
  transition: transform 2s ease-in-out;
}

.carousel-slide img {
  width: 150px;
  max-width: 600px;
  height: auto;
  border-radius: 20px;
}

.logo{
  margin: 10px;
  padding: 10px;
  border: solid 5px;
  border-color: #ffff00;
  border-radius:50px;
  
}

img {
    margin:10px;
}

a {
    text-decoration: none;
    background-color:#12b94a;
    border: solid 3px;
    border-radius: 50px;
    font-family: "Sour Gummy", serif;
    font-weight: bold;
    font-size: 35px;
    color:rgb(234, 251, 168);
    padding:10px;
    margin: center;
    
}

a:hover {
  background: #ffef11;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

strong {
  color: rgb(255, 123, 0);
}

.math {
  color: #00fbff;
}

img {
  border: solid  10px;
  border-radius: 50px;
}

iframe {
  width: 1000px;
  height: 1000px;
}