body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(190deg, #28a745, #6f42c1);
}

h1 {
    color:antiquewhite;
}

.card-display {
    width: 500px;
    height: 500px;
    background-color: rgb(125, 179, 72);
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 45px;
    font-weight: bold;
    color: #000000;
}

.controls button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 55px;
    font-weight: bold;
    background-color: #269d41;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.controls button:hover {
    background-color: #218838;
}
